{% extends 'base.html' %}

{% block other_resources %}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/post.css')}}">
    <script src="{{ url_for('.static', filename='js/liked_posts.js') }}"></script>

{% endblock %}

{% block content %}
        <div class="thread">
    {% for post in posts %}
        <div class="card" id='post{{post.id}}'>
          <img src="{{ post.photo_path }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.text }}</p>
            <p class="card-text"><small class="text-muted">{{ post.created }}</small></p>
            <a href="{{ url_for('news.post', post_id=post.id) }}" type="button" class="btn btn-light">Посмотреть всё</a>
            <form action="{{ url_for('news.remove_from_liked', post_id=post.id) }}" id='{{post.id}}'>
                <button type="submit" class="btn btn-light" onclick="removeFromLiked({{post.id}})">
                    Убрать из понравившегося
                </button>
            </form>
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
