{% extends 'base.html' %}

{% block title %}
    Главные новости
{% endblock %}

{% block other_resources %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    <div class="thread">
    {% for post in posts %}
        <div class="card">

          <img src="{{ post.photo_path }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.text }}</p>
            <p class="card-text"><small class="text-muted">{{ post.created }}</small></p>
            <a href="{{ url_for('news.post', post_id = post.id) }}" type="button" class="btn btn-light">Посмотреть всё</a>
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
