.thread {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.card {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.card-img-top {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.btn {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}