.card {
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-img-top {
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.send-comment {
    margin: 5px;
}

.add-btn {
    width: 100%;
}

.comments {
    width: 100%;
}

.btn.btn-light {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}