.logo {
    width: 80px;
    margin-right: 20px;
}

body {
    background: url('/static/images/bg.jpg') no-repeat;
    background-attachment: fixed;
}

nav {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
