{% extends 'base.html' %}

{% block other_resources %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/cart.css') }}">
    <script src="{{ url_for('.static', filename='js/cart.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="container">

    {% if cart %}
        {% for key, product in cart.items() %}
        {% if product %}
            <div class="card mb-3" id='{{ product.id }}'>
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="{{ product.photo_path }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text"> {{ product.description }} </p>
                    <h6>{{ product.price }} руб.</h6>
                    <div class="remove">
                     <form action="{{ url_for('shop.remove_from_cart', product_id = product.id) }}" id="{{ product.id }}" class="remove-from-cart" onclick="removeFromCart({{product.id}})">
                      <button type="submit" class="btn btn-dark" id="remove-from-cart-btn"> Убрать из корзины</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
        {% endfor %}

    {% else %}
    <p>Корзина пуста</p>
    {% endif %}
</div>
{% endblock %}
