{% extends 'base.html' %}
{% block other_resources %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/login.css')}}">
{% endblock %}
{% block title %}
    Вход
{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-dark" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}

 <form class="row g-3" action="{{ url_for('shop.login') }}" method="post">
  {{form.csrf_token}}
     <div class="col-md-4">
     {{ form.login.label(class='form-label') }}
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2">@</span>
      {{form.login(class='form-control')}}
    </div>
  </div>
  <div class='input_blocks'>
  <div class="col-md-4">
    {{ form.password.label(class='form-label') }}
    {{form.password(class='form-control')}}
  </div>
  <br>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" name="remember_me" >
        {{ form.remember_me.label(class='form-check-label') }}
    </div>
  </div>
  </div>
  <div class="col-12">
  {{form.submit(class='btn btn-dark')}}
  </div>
      <a class="btn btn-outline-dark" href="{{ url_for('shop.registrate')}}" role="button">Зарегистрироваться</a>

</form>
{% endblock %}
