{% extends 'base.html' %}

{% block other_resources %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/main.css')}}">

{% endblock %}
{% block title %}
    Sport shop
{% endblock %}

{% block content %}
  <div class="card-group container">
  {% for sub in subdivisions %}
  <div class="card">
     <a href="{{ url_for('shop.shop_thread', subdivision=sub.title) }}">        
    <img src="{{ sub.photo_path }}" class="card-img-top" alt="...">
      <button class="btn btn-outline-dark"> 

    {{ sub.title }}
  </button>
  </a>
  </div>
  {% endfor %}
</div>
</form>
{% endblock %}
