{% extends 'base.html' %}

{% block other_resources %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/personal_area.css')}}">
{% endblock %}

{% block content %}
    <div class="all-info">
        <div class="personal-info"> 
            <p> Логин: {{ current_user.email }} </p>
            <p> Имя: {{ current_user.name }} </p>
        </div>
        <div class="personal-buttons">
            <a href="{{ url_for('shop.change_personal_data', user_id = current_user.id) }}" class="btn btn-dark"> Сменить персональные данные </a>
            {% if admin_access %}
                <a class="btn btn-dark" href="../admin" role="button">Админ</a>
            {% endif %}
        </div>
        <div class="purchase-history-title">
            <p>История покупок:</p>
        </div>
        <div class="purchase-history">
            {% if purchase_history %}
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">Наименование товара</th>
                      <th scope="col">Цена</th>
                      <th scope="col">Дата покупки</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    {% for record in purchase_history %}
                      <th scope="row">1 {{ record.id }}</th>
                      <td>{{ record.title }}</td>
                      <td>{{ record.price }}</td>
                      <td>{{ record.date }}</td>
                    {% endfor %}
                </tbody>
            </table>
                {% else %}
            <div class="no-shopping">
                <p> У вас не было покупок </p>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
