{% extends 'base.html' %}
{% block other_resources %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/product.css')}}">
{% endblock %}

{% block content %}
<div class="card">
  <img src="../../{{product.photo_path}}" class="card-img-top" alt="...">
  <form action="{{url_for('shop.product_cart', product_id=product.id)}}" id="add-on-cart">
    <button type='submit' class="btn btn-dark add-btn" onclick="addOnCart()">Добавить в корзину</button>
  </form>
  <div class="card-body">
    <h5 class="card-title">{{product.title}} </h5>
    <p>{{ product.price }} руб.</p>
    <p class="card-text">{{product.description}}</p>
    <div class="card-header">
    Написать отзыв
  </div>
  <div>
    <form action="{{ url_for('shop.review_handler', product_id=product.id) }}" id='review' method='POST'>
      {{form.csrf_token}}
      <div class="form-floating">
        {{form.review_text(class='form-control')}}
        {{form.review_text.label(for="floatingTextarea2")}}
      </div>
      {{form.submit(class="btn btn-dark send-review", onclick='sendReview()')}}
      <div class="form-floating">
        <label for="floatingTextarea2">Comments</label>
      </div>
    </form>
  </div>
  <div class="card reviews">
  <div class="card-header">
    Отзывы:
  </div>
  <ul class="list-group list-group-flush" id='new-review'>
    {% for r in reviews %}
       <li class="list-group-item">{{ r.text }}</li>
    {% endfor %}
  </ul>
</div>
</div>
</div>
<script src="{{ url_for('.static', filename='js/product.js') }}"></script>

{% endblock %}
