{% extends 'base.html' %}
{% block other_resources %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/registrate.css')}}">
{% endblock %}
{% block title %}
    Регистрация
{% endblock %}
{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-dark" role="alert">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}
<form class="row g-3" action="{{ url_for('shop.registrate') }}" method="post">
  {{form.csrf_token}}
  <div class="col-md-4">
    {{form.username.label(class='form-label')}}
    {{form.username(class='form-control')}}
  </div>
    <div class="col-md-4">
    {{ form.email.label(class='form-label') }}
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2">@</span>
      {{form.email(class='form-control')}}
    </div>
  </div>
  <div class="col-md-4">
    {{form.password.label(class='form-label')}}
    {{form.password(class='form-control')}}
  </div>
  <div class="col-12">
    {{form.submit(class='btn btn-dark')}}    
  </div>
  <a class="btn btn-outline-dark" href="{{ url_for('shop.login')}}" role="button">Уже есть аккаунт?</a>

</form>
{% endblock %}
