{% extends 'base.html' %}

{% block other_resources %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/shop_thread.css')}}">
{% endblock %}

{% block content %}
    <form action="{{ url_for('shop.shop_thread', subdivision=subdivision) }}" id="filter-form" method="POST">
      {{form.csrf_token}}
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             Фильтры
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="brands filter float-start">
              <div class="filter-title">
                <strong>Бренды:</strong>
              </div>
                {% for b in form.brand %}
                  <div class="form-check">
                    {{ b(class='form-check-input', checked=True) }}
                    <label class="form-check-label" for="flexCheckDefault">
                      {{b.label()}}
                    </label>
                  </div>
                {% endfor %}
              </div>
                <div class="categories filter">
                  <div class="filter-title">
                    <strong>Категории:</strong>
                  </div>
                  {% for t in form.type_product %}
                    <div class="form-check">
                      {{ t(class='form-check-input', checked=True) }}
                      <label class="form-check-label" for="flexCheckDefault">
                        {{t.label()}}
                      </label>
                    </div>
                  {% endfor %}
                </div>
                <div class="price">
                  <p>Цена:</p>
                  {{form.price_from.label()}}
                  {{form.price_from(class='form-control', value=0)}}
                  {{form.price_to.label()}}
                  {{form.price_to(class='form-control', value=max_price)}}
                </div>
              {{form.submit(class='btn btn-dark', onclick='sendFilters()')}}

              </div>
            </div>
          </div>
        </div>
      </form>
<div class="row row-cols-1 row-cols-md-5 g-4" id='products-thread'>
{% for product in products %}
  <div class="col">
    <div class="card h-100">
      <a href="{{ url_for('shop.current_product', product_id=product.id) }}">
      <img src="../{{product.photo_path}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h6>{{ product.title }}</h6>
        <p class="cart-text">{{product.price}} руб</p>
      </div>
    </a>
    </div>
  </div>
{% endfor %}
</div>
<script src="{{ url_for('.static', filename='js/shop_thread.js') }}"></script>
    
{% endblock %}