.row.g-3 {
    width: 370px;
    height: 380px;
    min-width: 300px;
    border: 1px solid #D3D3D3;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 200px);
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.col-md-4 {
    width: 320px;
}

.btn.btn-dark {
    display: block;
    margin: 0 auto;
    width: 190px;
}

.col-12 {
    margin-top: 20px;
}

.btn.btn-outline-dark {
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 40px;
    margin-top: 10px;
}

.alert.alert-dark {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    width: 370px;
    max-width: 450px;
    margin-top: 20px;
}