.all-info {
    max-width: 1000px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.personal-info {
    background: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    min-height: 100px;
    border-radius: 5px;
    padding: 10px;
}

.purchase-history-title {
    background: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    min-height: 40px;
    vertical-align: middle;
    text-align: center;
}

.purchase-history {
    background: rgba(255, 255, 255, 0.9);
    margin-top: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    min-height: 50px;
    border-radius: 5px;
    padding: 10px;
}

.no-shopping {
    text-align: center;
    opacity: 0.5;
}

.personal-buttons {
    margin: 5px;
}