.card {
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-img-top {
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.send-review {
    margin: 5px;
}

.add-btn {
    width: 100%;
}

.reviews {
    width: 100%;
}
