a {
  color: #000 !important;
  text-decoration: none
}

.card-img-top {
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}

.row {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  clear: both;
}

.card-body {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
}

.filter-title {
  margin-bottom: 10px;
}

.filter {
  margin-right: 50px;
}

.price {
  margin-top: 20px;
  max-width: 200px;
}

.btn.btn-dark {
  margin-top: 10px;
}